<ul id="sidebar" class="list-group">
  <% if user.トレーナー? %>
    <ul class="list-group">
      <a href="#" class="list-group-item">メッセージ</a>
      <a href="#" class="list-group-item">契約トレーニー</a>
      <li class="list-group-item" v-on:mouseover="mouseOverAction" v-on:mouseleave="mouseLeaveAction">
        売上管理
        <SlideUpDown :active="isActive">
          <ul class="list-group list-group-flush">
            <a href="../test/test" class="list-group-item">売上履歴</a>
            <a href="#" class="list-group-item">出金申請</a>
            <a href="#" class="list-group-item">出金履歴</a>
          </ul>
        </SlideUpDown>
      </li>
      <a href="#" class="list-group-item">各種設定</a>
      <%= link_to "フォローリスト", followings_path(current_user), class: "list-group-item" %>
      <%= link_to "フォロワーリスト", followers_path(current_user), class: "list-group-item" %>
    </ul>
  <% elsif user.トレーニー? %>
    <ul class="list-group">
      <%= link_to "メッセージ", test_test_path, class: "list-group-item" %>
      <a href="#" class="list-group-item">契約トレーナー</a>
      <a href="#" class="list-group-item">支払い履歴</a>
      <a href="#" class="list-group-item">各種設定</a>
      <%= link_to "フォローリスト", followings_path(current_user), class: "list-group-item" %>
      <%= link_to "フォロワーリスト", followers_path(current_user), class: "list-group-item" %>
    </ul>
  <% end %>
</ul>

<script>
Vue.component('SlideUpDown', SlideUpDown);
new Vue({
  el: '#sidebar',
  data: function() {
    return {
      isActive: false,
    }
  },
  components: {
    SlideUpDown,
  },
  methods: {
    mouseOverAction: function () {
      this.isActive = true;
    },
    mouseLeaveAction: function () {
      this.isActive = false;
    }
  }
})
</script>