<body>
  <div class="row">
    <div class="col-2">
      <%= render 'shared/index', user: @user %>
    </div>

    <div class="col-8">
      <h3><%= @user.name %></h3>
      <img src=<%= @user.image %> class = "icon_image">
      <p><%= @user.user_style %></p>
      <p><%= @user.self_introduction %></p>

      <%=link_to "プロフィール編集", edit_user_registration_path %>
      <%=link_to "testページへ", test_index_path %>
      <%=button_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</body>