<h3><%= @user.name %></h3>
<img src=<%= @user.image %> class = "icon_image">
<p><%= @user.self_introduction %></p>
<p><%= @user.career %></p>
<% if user_signed_in? && current_user %>
  <div id="follow-button-<%= @user.id %>">
    <% if current_user.following?(@user) %>
      <%= render 'relationships/unfollow_button', user: @user %>
    <% else %>
      <%= render 'relationships/follow_button', user: @user %>
    <% end %>
  </div>
<% end %>
