<p>ここがメッセージルーム</p>
<%= form_with model: @message, url: messages_path, method: :post, local: true do |message| %>
  <%= message.hidden_field :participant_user_id, value: @participant_user.id %>
  <%= message.hidden_field :message_room_id, value: @message_room.id %>
  <%= message.hidden_field :user_id, value: current_user.id %>
  <%= message.text_area :content %>
  <%= message.submit "送信" %>
<% end %>

<% if @messages.present? %>
  <% @messages.each do |message| %>
    <%= message.content %>
    <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
  <% end %>
  <%else%>
    <p>メッセージはまだありません</p>
  <% end %>
