<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
          <h3 class="nav_title">トレサポ</h3>
        </div>
        <ul>
          <% if user_signed_in? %>
            <% if current_user.トレーナー? %>
              <%= link_to user_home_path do %>
                <li>トレーナー</li>
              <% end %>
            <% elsif current_user.トレーニー? %>
              <%= link_to "トレーナーを探す", user_index_path %>
              <%= link_to user_home_path do %>
                <li>トレーニー</li>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
